/* SUCURSALES*/
h6{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 3px;
    color: rgb(252, 172, 67);
}

p{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    padding: 2px;
    color: rgb(0, 0, 0);
}

#sucursales{
    background-color: rgb(117, 117, 117);
}

.linea{
    border-top: 2px solid #ff9843;
    margin-bottom: 40px;
}
